<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome <%= @voter.username %></h1>

		<p>Thank you for registering. Your account has now been approved</p>

		<p>
			<b>
				regards, <br />
				Administrator
			</b>
		</p>
	</body>
</html>
